# Python
__pycache__/
*.py[cod]
*$py.class
#dataset
dataset/
# Virtual environments
venv/
env/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Environment variables & local credential keys
.env
env.js
firebase-env.js

# Python cache
.pytest_cache/
.mypy_cache/

# Streamlit cache
.streamlit/cache/

# Temporary files
*.log
*.tmp